@layer base, theme;

@layer base {
  * {
    box-sizing: border-box;
  }

  .btn {
    --bg-color: oklch(92% 0 0);

    background-color: oklch(from var(--bg-color) l c h);
    border: 1px solid oklch(from var(--bg-color) calc(l - 0.15) c h);
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    color: var(--text-color, initial);

    &:hover,
    &:focus-visible {
      background-color: oklch(from var(--bg-color) calc(l - 0.075) c h);
      box-shadow: 0 0 5px 0 oklch(from var(--bg-color) calc(l - 0.15) c h);
    }

    &.btn-large {
      font-size: 1.25rem;
    }

    &.btn-small {
      font-size: 0.75rem;
    }

    &.btn-pill {
      border-radius: 1000000px;
    }
  }
}

@layer theme {
  .btn-primary {
    --bg-color: oklch(56% 0.244 301);
    --text-color: white;
  }

  .btn-accent {
    --bg-color: oklch(56% 0.141 242);
    --text-color: white;
  }

  .btn-danger {
    --bg-color: oklch(56% 0.19 26);
    --text-color: white;
  }

  .btn-custom {
    --text-color: white;
    background: linear-gradient(
      to right,
      oklch(56% 0.244 301),
      oklch(56% 0.141 242)
    );
    border: none;

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        to right,
        oklch(48.5% 0.244 301),
        oklch(48.5% 0.141 242)
      );
    }
  }
}
