@layer base, theme;

@layer base {
  * {
    box-sizing: border-box;
  }

  .btn {
    --bg-color: hsl(0 0% 90%);

    background-color: oklch(from var(--bg-color) l c h);
    border: 1px solid oklch(from var(--bg-color) calc(l - 0.15) c h);
    outline: none;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    color: var(--text-color, initial);

    &:hover,
    &:focus-visible {
      background-color: oklch(from var(--bg-color) calc(l - 0.075) c h);
      box-shadow: 0 0 5px 0 oklch(from var(--bg-color) calc(l - 0.15) c h);
    }

    &.btn-large {
      font-size: 1.25rem;
    }

    &.btn-small {
      font-size: 0.75rem;
    }

    &.btn-pill {
      border-radius: 1000000px;
    }
  }
}

@layer theme {
  .btn-primary {
    --bg-color: hsl(271 70% 50%);
    --text-color: white;
  }

  .btn-accent {
    --bg-color: hsl(200 100% 40%);
    --text-color: white;
  }

  .btn-danger {
    --bg-color: hsl(0 60% 50%);
    --text-color: white;
  }

  .btn-custom {
    --text-color: white;
    --gradient-1: hsl(271 70% 50%);
    --gradient-2: hsl(200 100% 40%);
    background: linear-gradient(to right, var(--gradient-1), var(--gradient-2));
    border: none;

    &:hover,
    &:focus-visible {
      background: linear-gradient(
        to right,
        oklch(from var(--gradient-1) calc(l - 0.075) c h),
        oklch(from var(--gradient-2) calc(l - 0.075) c h)
      );
    }
  }
}
