* {
  box-sizing: border-box;
}

.input {
  --btn-primary-color: #0af;
  --btn-success-color: #27ae60;
  --btn-success-color-focused: #0f0;
  --btn-error-color: #eb5757;
  --btn-error-color-focused: #f00;

  border: 1px solid #aaa;
  outline: none;
  font-size: inherit;
  padding: 0.5em;
  border-radius: 0.2em;

  &:focus-visible{
    border-color: var(--btn-primary-color);
    box-shadow: 0 0 5px 0 var(--btn-primary-color);
  }

  &.input-success{
    border-color: var(--btn-success-color);

    &:focus-visible{
      border-color: var(--btn-success-color-focused);
      box-shadow: 0 0 5px 0 var(--btn-success-color-focused);
    }
  }

  &.input-error {
    border-color: var(--btn-error-color);

    &:focus-visible{
      border-color: var(--btn-error-color-focused);
      box-shadow: 0 0 5px 0 var(--btn-error-color-focused);
    }
  }

  &.input-large {
    font-size: 1.25rem;
  }

  &.input-small {
    font-size: 0.75rem;
  }

  &:disabled {
    background-color: #eaeaea;
    cursor: not-allowed;
  }

}